<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Lista de asignaturas</title>
</head>
<body>
<table class="table">
  <thead>
    <tr>
        <center><h1 >LISTA DE ASIGNATURAS</h1></center>
      <th scope="col">#</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">AFORO</th>
      <th scope="col">DURACION</th>
        <th scope="col">ESTADO</th>
        <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
               {%    for asignatura in asignaturas %}
      <th scope="row">{{forloop.counter}}</th>
      <td>    {{ asignatura.name  }}</td>
      <td>     {{ asignatura.aforo  }}</td>
      <td>      {{ asignatura.duration  }}</td>
        <td>      {{ asignatura.estado  }}</td>
        <td>    <button class="btn btn-secondary"><a href="http://127.0.0.1:8000/asignaturas/materias/{{asignatura.id}}">informacion</a></button></td>
    </tr>
     {% endfor %}

  </tbody>
</table>
</body>
</html>